.gradle
.settings
/.idea/
/.ideaDataSources/
/.vscode/
/run/
/build/
/eclipse/
.classpath
.project
/bin/
/crash-reports/
/out/
*.iml
*.ipr
*.iws
src/main/resources/mixins.*.json
*.bat
*.DS_Store
!gradlew.bat
